
@{
    ViewData["Title"] = "About";
}

    <body>
        <link rel="stylesheet" href="~/css/site.css" />
        <div class="about">
            <h2 class="h2"><b>The application for Apartment Administration.</b></h2>
        </div>
    </body>