
@{
    ViewData["Title"] = "Contact";
}

    <body>
        <link rel="stylesheet" href="~/css/site.css" />
        <address>
            ANIMUS GmbH & Co. KG<br />
            Europaring 60 ∙ 40878 Ratingen<br />
            <abbr title="Phone">P:</abbr>
            T 0 21 02 - 30 591 20
            <p>Please visit <a href="www.animus.de" title="Animus Home page">Animus GmbH</a></p>
        </address>

        <address>
            <strong>Support:</strong> <a href="mailto:Support@animus.de">Support@animus.de</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@animus.de">Marketing@animus.de</a>
        </address>
    </body>
